/*
参考文献：
翔泳社「HTML5/CSS3モダンコーディング」
http://www.shoeisha.co.jp/book/detail/9784798141572
*/

@charset "UTF-8";



html{
    font-size: 62.5%;
}
*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background: #151515 url('../images/back.jpg') no-repeat fixed center bottom;
    background-size: cover;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Lobster', cursive;
} 

.center{
  text-align: center;
}
.img-item{
  display:inline-block;
}

.wf-roundedmplus1c { font-family: "Rounded Mplus 1c"; }

.header{
    padding: 40px 30px 0px;
}

.site-title-sub{
    margin: 0 0 30px;
    letter-spacing: 1px;
    font-size: 2.2rem;
}
.site-title-sub::before,
.site-title-sub::after{
    content: '';
    display: inline-block;
    width: 140px;
    height: 2px;
    margin: 0 30px;
    background-color: #fff;
    vertical-align: middle;
}

.site-title{
    margin: 30px 0  10px;
    font-size: 7.6m;
}

.site-discription{
    margin-bottom: 50px;
    font-size: 2rem;
}

.button{
    display: inline-block;
    width: 200px;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    background-color: #fc0;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
.button:hover{
    opacity: 0.9;
}

.heading{
    display: block;
    background-color: #999
}

.green-back{
  background-color: greenyellow;
}

.blue-back{
  background-color: aqua;
}


@media (max-width: 768px){
  .site-title-sub::before,
  .site-title-sub::after{
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  
  .site-title-sub{
    font-size: 1.7rem;
  }
  
  .site-title{
    margin-top: 35px;
    font-size: 5rem;
  }
  
  .header{
    padding-top: 60px;
  }
  
  .button:hover{
    opacity: 1;
  }
  
  .heading{
    font-size: 2.5rem;
  }
  
  body{
    font-size: 1.3rem;
  }
}

.footer{
  padding: 12px 0;
  font-size: 1.3rem;
}